#juminfo {
    background: #130613;
}

body { 
    background: #130613; 
}

#under {
    position:relative;
}
#over {
    position:absolute; 
    width:100%; 
    text-align:center; 
    bottom:10%; 
    right:0; 
    left:0; 
    z-index:3;
    font-family: 'Yesteryear', cursive;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color:gold;
    font-size: 40;
}

#info{
    font-family: 'Titillium Web', sans-serif;
    color: gold;
}

#yesthead{
    font-family: 'Yesteryear', cursive;
    color: gold;
}

#map {
    height: 500px;
}

#submitBtn{
     margin-bottom: 20px;
}