<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  
</head>

<body>
    
  <div class="row ">
    <div class="col-xs-2 col-md-3" style="padding: 0; margin: 0;">
        <img id="under" class="img-responsive" src="app\img\rocky.jpg" style="height: 95%; width: 100%" />
        <div id="over">Text overlay</div>
    </div>
    <div class="col-xs-2 col-md-3" style="padding: 0; margin: 0;">
        <img class="img-responsive" src="app\img\sunsurf.jpg" style="height: 95%; width: 100%"  />
        <div id="over">Text overlay</div>
    </div>

    <div class="col-xs-2 col-md-3" style="padding: 0; margin: 0;" >
        <img class="img-responsive" src="app\img\rocky.jpg" style="height: 95%; width: 100%"  />
        <div id="over">Text overlay</div>
    </div>
    <div class="col-xs-2 col-md-3" style="padding: 0; margin: 0;">
        <img class="img-responsive" src="app\img\sunsurf.jpg" style="height: 95%; width: 100%"  />
        <div id="over">Text overlay</div>
    </div>
</div>
    
    <div class="row">
        <div class="text-center" style="color: gold; margin-top: 25;" >Final year project</div>
    </div>
    
</body>
</html>