
<div class="bs-example">
    <div class="panel-group" id="accordion" *ngFor="let message of messages">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{ message.firstName }} {{ message.lastName }}</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  details here {{ message.firstName }} {{ message.lastName }}
                </div>
            </div>
        </div>
</div>
</div>