<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  
</head>

<body>
    <div class="container">
    <div class="jumbotron" id="juminfo" >
        <h1 id="yesthead" class="display-3" class="text-center col-md-4 col-md-offset-4">Company Employees</h1>
        <p id="info" class="lead" class="text-center col-md-4 col-md-offset-4">This section is used to review the staff of the company who are currently employed, use the search bar to look for someone.</p>
    </div>
    </div>
    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
</div>
</div>
</body>
</html>