<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>RMS Home</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  
</head>

<body>
    
  <div class="row ">
    <div class="col-xs-6"  style="padding: 0; margin: 0;">
        <img id="img1" class="img-responsive" src="app\img\emp.gif" style="height: 95%; width: 100%" routerLink="/employees" />
        <div id="over">Employees...</div>
    </div>
    <div class="col-xs-6" style="padding: 0; margin: 0;">
        <img class="img-responsive" src="app\img\store.gif" style="height: 95%; width: 100%" routerLink="/maps" />
        <div id="over">Stores...</div>
    </div>
  </div>
    
<div class="row">
    <div class="jumbotron" id="juminfo" >
        <h1 id="yesthead" class="display-3" class="text-center col-md-4 col-md-offset-4">Welcome to RMS!</h1>
        <p id="info" class="lead" class="text-center col-md-4 col-md-offset-4">This is a simple yet effective retail store mamangment system which is used to interact with the companys database efficitently while being astetically pleasing in the process.</p>
        <p id="info" class="text-center col-md-4 col-md-offset-4">Choose from the 2 panels above to begin reviewing or interacting with your stores,products and employees data.</p>
    </div>
</div>
<div class="row">
    <div class="jumbotron" id="juminfo2" >
        <h1 id="yesthead" class="display-3" class="text-center col-md-4 col-md-offset-4">Getting started!</h1>
        <p id="info" class="lead" class="text-center col-md-4 col-md-offset-4">The app is divided into two main parts. The employees section where you can interact with information on all the currently employeed staff, or the stores section where you can view your store loctations and there products.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <h1 id="yesthead" class="display-3" class="text-center">Employees guide:</h1>
    <p id="info" class="lead" class="text-center">The employees will usually take a few seconds to load after the page, to delete
    a employees click on the red button near there details, to update there information fill in the box under there details and click the orange edit button, if the changes are not imidiate try refresh the page and the employee details should be up to date.</p>
    </div>
    <div class="col-md-6">
    <h1 id="yesthead" class="display-3" class="text-center">Stores guide:</h1>
    <p id="info" class="lead" class="text-center">The stores will automatically be displayed on the map once the page is loaded, scroll down to see te products currently displayed in each store, click the blue buttons to increase or decrease the quantity of products. Click on a marker to see whos currently works there. click on a empty part of the map to add a new marker.</p>
    </div>
</div>
</body>
</html>