<div class="container">
<div class="jumbotron" id="juminfo">
  <h1 id="yesthead">Support page!</h1>
  <p id="info">Call centres are open Monday to Friday</p>
</div>
</div>
<div class="container container-table">
    <div class="row vertical-center-row">
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <h4 id="info" class="media-heading">Phone:</h4>
    087252525
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <h4 id="info" class="media-heading">Email:</h4>
    RetailManagmentSystems@gmail.com
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <h4 id="info" class="media-heading">FAQ:</h4>
    <div class="media-body">
        <h4 id="info" class="media-heading">No employees load when I go to the employees page?</h4>
        Try restarting Mongodb or re-opening the app.
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">No stores load when I go to the stores page?</h4>
        Try restarting Mongodb or re-opening the app.
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">Its says CANNOT GET when I tried load a page?</h4>
        Try returning to the home page URL or retarting the app.
    </div>
  </div> 
</div>
    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <div class="media-body">
        <h4 id="info" class="media-heading">it says INTERNAL SERVER ERROR when I try open the app?</h4>
        Make sure Mongodb is running correctly and allowing conenctions.
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">Its says EAR:3000 is busy?</h4>
        Make sure angular is done compiling and no other apps are using port 3000.
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">Google maps remains blank after page is loaded?</h4>
        Make sure you have an internet connection.
    </div>
  </div> 
</div>
    </div>
</div>