<div class="container">
<div class="jumbotron" id="juminfo">
  <h1 id="yesthead">Support page!</h1>
  <p id="info">Call centres are open Monday to Friday</p>
</div>
</div>
<div class="container container-table">
    <div class="row vertical-center-row">
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <h4 id="info" class="media-heading">Phone:</h4>
    087252525
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <h4 id="info" class="media-heading">Email:</h4>
    RetailManagmentSystems@gmail.com
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <h4 id="info" class="media-heading">FAQ:</h4>
    <div class="media-body">
        <h4 id="info" class="media-heading">q1:</h4>
        answer to 1
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">q2:</h4>
        answer to 2
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">q3:</h4>
        answer to 3
    </div>
  </div> 
</div>
    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </a>
  </div>
  <div class="media-body">
    <div class="media-body">
        <h4 id="info" class="media-heading">q1:</h4>
        answer to 1
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">q2:</h4>
        answer to 2
    </div>
       <div class="media-body">
        <h4 id="info" class="media-heading">q3:</h4>
        answer to 3
    </div>
  </div> 
</div>
    </div>
</div>